<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get and Post</title>
</head>
<body>
    <h1>GET Request</h1>
    <form action="/tacos/methodres" method="GET">
    <input type="text" name="meat">
    <input type="number" name="qty">
    <button>Submit</button>
    </form>

    <h1>POST Request</h1>
    <form action="/tacos/methodres" method="POST">
    <input type="text" name="meat">
    <input type="number" name="qty">
    <button>Submit</button>
    </form>
    
</body>
</html>